---
## Global config
installed_pkgs:
  - unzip
start_script_path: "/start.sh"

## Consul installation settings
consul_version: 0.8.1
consul_url: https://releases.hashicorp.com/consul/{{consul_version}}/consul_{{consul_version}}_linux_amd64.zip
consul_path: "/usr/bin"
consul_config_path: "/tmp/consul.json"

## Consul configuration file
consul_config:
  server: true
  bootstrap_expect: 3
  data_dir: "/tmp/consul"
  datacenter: docker
  client_addr: 0.0.0.0
  ports:
    dns: 53
  recursor: 8.8.8.8