#jinja2:variable_start_string:'[%', variable_end_string:'%]', trim_blocks: False
global
    daemon
    maxconn 200
defaults
        mode http
        timeout connect 5000
        timeout client 50000
        timeout server 50000
listen stats
  bind *:8001
  stats enable
  stats uri /
  stats realm HAProxy\ Statistics

frontend www
    bind *:80
    mode http
    default_backend nginx

backend nginx
  mode http
  balance roundrobin
  {{range service "nginx"}}
  server {{.ID}} {{.Address}}:{{.Port}}
  {{end}}