#!/bin/bash
set -e
export CONTAINER_IP=`sed -n 's/^\([0-9\.]*\)[[:blank:]]*[0-9a-f]\{12,\}$/\1/p' /etc/hosts | awk '{print $1}'`

if [ -f "/tmp/consul/service.json" ] && [ -f "/tmp/consul/check.json" ]; then
sed -ri "s/dummyip/${CONTAINER_IP}/g" /tmp/consul/service.json
sed -ri "s/dummyip/${CONTAINER_IP}/g" /tmp/consul/check.json
fi
if [ ! -z "$CONSUL_IP" ]; then
    export CONSUL_IP=${CONSUL_IP-'172.17.0.2'}
    consul agent -disable-host-node-id -data-dir=/tmp/consul -config-dir=/tmp/consul -datacenter=docker -join=$CONSUL_IP "$@" &
fi

consul-template -template="/tmp/consul/haproxy.ctmpl:/etc/haproxy/haproxy.cfg:/start.sh" -consul=$CONSUL_IP:8500 &
/bin/bash -c 'haproxy -f /etc/haproxy/haproxy.cfg -D'; wait